@font-face {
    font-family: 'Anderson Grotesk';
    src: url('AndersonGroteskBlack.woff2') format('woff2'),
        url('AndersonGroteskBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

